.layout-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
}

.layout-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding: 112px 64px;

    width: auto;
    height: auto;
}

.layout-content > img {
    width: 400px;
    height: 400px;
}

.layout-description {
    display: flex;
    flex-direction: column;
}

.layout-text {
    display: flex;
    flex-direction: column;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout-text h4 {
    font-size: 16px;
    font-weight: 600;
}

.layout-text h1 {
    font-size: 48px;
    font-weight: 700;

    margin-top: 16px;
}

.layout-text p {
    font-size: 18px;
    font-weight: 400;

    margin-top: 24px;
}

.layout-button {
    display: flex;

    font-size: 16px;
    font-weight: 400;
    gap: 24px;
    margin-top: 40px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;

    border: 1px solid black;
    background-color: transparent;
}

.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
}
