.content-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 395px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-image {
    width: 80px;
    height: 80px;
}

.content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.content-title > h1 {
    font-size: 20px;
    font-weight: 600;
}

.content-title > h2 {
    font-size: 18px;
    font-weight: 400;
}

.content-description {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.content-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 24px;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-container > h3 {
    font-size: 16px;
    font-weight: 600;
}

.section-container > h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

.section-container > p {
    font-size: 18px;
    font-weight: 400;
}

.main-container {
    margin-top: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container > h1 {
    font-size: 32px;
    font-weight: 700;
}

.main-container > p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 24px;
}

.main-container > button {
    width: 155px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 112px;
}

.team-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}