* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
} */
