.banner {
    width: 400px;
    height: 250px;
    background-color: cadetblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.banner h2 {
    font-size: 30px;
    color: burlywood;
}

.banner p {
    font-size: 15px;
    color: burlywood;
}

.banner img {
    width: 50px;
    height: 50px;
}